/* HTML5 Boilerplate  */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #f3f3f3; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

a {
  color: #59b5ff;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

body, html {
  height: 100%; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

.clear {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/*********************

	VARIABLES

***********/
/********************

	MIXINS

***********/
/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none; }
  .pswp * {
    box-sizing: border-box; }
  .pswp img {
    max-width: none; }

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open {
  display: block; }

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  will-change: transform; }

.pswp__container,
.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  /* for open/close transition */
  transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  transition: none; }

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
  will-change: transform; }

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  transition: opacity 0.15s; }

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden; }

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #222; }

.pswp--ie .pswp__img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC; }

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline; }

#splash span {
  font-size: 100px;
  vertical-align: middle; }

#splash #bowlG {
  position: relative;
  width: 128px;
  height: 128px; }

#splash #bowl_ringG {
  position: absolute;
  width: 128px;
  height: 128px;
  border: 11px solid #FFFFFF;
  border-radius: 128px; }

#splash .ball_holderG {
  position: absolute;
  width: 34px;
  height: 128px;
  left: 47px;
  top: 0px;
  -moz-animation-name: ball_moveG;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: ball_moveG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -ms-animation-name: ball_moveG;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: ball_moveG;
  -o-animation-duration: 1.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -webkit-animation-name: ball_moveG;
          animation-name: ball_moveG;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

#splash .ballG {
  position: absolute;
  left: 0px;
  top: -30px;
  width: 51px;
  height: 51px;
  background: #F2F2F2;
  border-radius: 43px; }

@-webkit-keyframes ball_moveG {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes ball_moveG {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

header {
  height: 100%;
  background: url("../images/splash.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  header h1 {
    position: absolute;
    margin-top: 11%;
    font-size: 6em;
    text-align: center;
    display: block;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; }
  header h2 {
    line-height: 210px; }
  header #banner {
    display: block;
    position: relative;
    top: 40%;
    width: 99%; }
    @media screen and (min-width: 860px) {
      header #banner {
        top: 70%;
        left: 5%;
        width: 600px; } }
    @media screen and (min-width: 1100px) {
      header #banner {
        width: 800px; } }

.banner {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1; }
  @media screen and (min-width: 860px) {
    .banner {
      width: 100%;
      position: static;
      z-index: 1; } }
  .banner img {
    transition: all opacity 1s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: block;
    margin: 1.5em auto; }
    @media screen and (min-width: 1800px) {
      .banner img {
        max-width: 1800px; } }
  .banner img.active {
    filter: none;
    /* IE6-9 */
    -webkit-filter: grayscale(0%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 1;
    transition: opacity 1s linear;
    transition: opacity 1s; }

body {
  background: #000;
  font-family: Arial, sans-serif; }

#content-wrapper {
  margin: 0 auto;
  height: 100%; }

section {
  padding: 0;
  margin: 0 auto 0; }
  section .section-wrapper {
    opacity: 1;
    transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear; }
  section.live .section-wrapper {
    opacity: 1;
    transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear; }

#action {
  background-image: url("../images/action1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1400px) {
    #action {
      background-position-x: 250px; } }
  @media screen and (min-width: 1400px) {
    #action {
      background-position-x: 300px; } }

#music {
  background-image: url("../images/music1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1400px) {
    #music {
      background-position-x: 250px; } }
  @media screen and (min-width: 1400px) {
    #music {
      background-position-x: 300px; } }

#people {
  background-image: url("../images/people1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1400px) {
    #people {
      background-position-x: 250px; } }
  @media screen and (min-width: 1400px) {
    #people {
      background-position-x: 300px; } }

#landscape {
  background-image: url("../images/landscape1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1400px) {
    #landscape {
      background-position-x: 250px; } }
  @media screen and (min-width: 1400px) {
    #landscape {
      background-position-x: 300px; } }

#about-me {
  background-image: url("../images/about-me.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1400px) {
    #about-me {
      background-position-x: 250px; } }
  @media screen and (min-width: 1400px) {
    #about-me {
      background-position-x: 300px; } }

.slides {
  list-style: none;
  padding: 0;
  -webkit-overflow-scrolling: touch; }
  @media screen and (min-width: 860px) {
    .slides {
      margin: 0 auto; } }
  .slides li {
    display: block;
    width: 50%;
    float: left;
    overflow: hidden; }
    @media screen and (min-width: 550px) {
      .slides li {
        width: 33.33%; } }
    @media screen and (min-width: 860px) {
      .slides li {
        float: left;
        overflow: hidden;
        list-style: none; } }
    @media screen and (min-width: 1100px) {
      .slides li {
        width: 25%; } }
    @media screen and (min-width: 1300px) {
      .slides li {
        width: 20%; } }
    @media screen and (min-width: 1600px) {
      .slides li {
        width: 16.66%; } }
    .slides li a {
      max-width: 100%; }
    .slides li img {
      width: 100%;
      -webkit-filter: grayscale(100%);
      opacity: .9;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -webkit-transition: opacity 0.5s linear, -webkit-filter 500ms linear; }
      @media screen and (min-width: 860px) {
        .slides li img {
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -ms-backface-visibility: hidden; }
          .slides li img:hover {
            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
            filter: none;
            /* IE6-9 */
            -webkit-filter: grayscale(0%);
            opacity: 1;
            transition: opacity 0.5s linear;
            -moz-transition: opacity 0.5s linear;
            -webkit-transition: opacity 0.5s linear, -webkit-filter 500ms linear; } }

#back-to-top {
  text-align: center; }

#about-me {
  font-size: 1.2em; }
  #about-me p {
    margin: 0 0 1em; }
  #about-me #bio {
    width: 80%;
    margin: 0 auto; }
  @media screen and (min-width: 550px) {
    #about-me .col-container {
      margin-bottom: 1em; }
      #about-me .col-container #col-1 {
        float: left;
        width: 70%;
        margin-right: 10%; }
      #about-me .col-container #col-2 {
        float: right;
        width: 20%; }
        #about-me .col-container #col-2 img {
          width: 100%; } }

@font-face {
  font-family: one;
  src: url("../fonts/ostrich-sans-inline-italic.woff"); }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

h1 {
  height: 0;
  width: 0;
  margin-left: -9999px;
  visibility: hidden; }

header h2 {
  visibility: visible;
  text-transform: none;
  color: red;
  font-size: 3em;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 150%;
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25); }

header #quote-block p {
  color: #984C00 !important; }

a {
  color: #ccc; }

a:link {
  -webkit-tap-highlight-color: transparent; }

.banner h2 {
  font-family: 'one';
  font-weight: normal;
  text-align: center;
  text-transform: lowercase;
  line-height: 1em;
  font-size: 80px;
  padding: 0 0 0.35em; }
  @media screen and (min-width: 400px) {
    .banner h2 {
      font-size: 100px; } }
  @media screen and (min-width: 500px) {
    .banner h2 {
      font-size: 140px; } }
  @media screen and (min-width: 860px) {
    .banner h2 {
      font-size: 240px; } }
  @media screen and (min-width: 1400px) {
    .banner h2 {
      font-size: 300px; } }
  @media screen and (min-width: 1600px) {
    .banner h2 {
      font-size: 300px;
      transition: 1s ease; }
      .banner h2.active {
        -webkit-transform: translate3d(0px, 0, 0px);
                transform: translate3d(0px, 0, 0px); } }

nav {
  display: none; }
  @media screen and (min-width: 860px) {
    nav {
      left: 0;
      top: 0;
      width: 250px;
      font-family: 'Oswald', sans-serif;
      background-color: #181818;
      z-index: 98;
      height: 100%;
      float: left;
      display: block; } }
  @media screen and (min-width: 1400px) {
    nav {
      width: 300px; } }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 1em 1.25em 0 0;
    text-align: right; }
  nav li a {
    font-size: 38px;
    line-height: 1.6em;
    color: #aeaeae;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
    -webkit-tap-highlight-color: transparent;
    text-transform: lowercase; }
    @media screen and (min-width: 1400px) {
      nav li a {
        font-size: 48px; } }
  nav li a:hover {
    color: #f1f1f1;
    opacity: 1;
    text-decoration: none; }
  nav li a.active {
    color: #f1f1f1; }
  nav.fixed {
    position: fixed; }

@media screen and (min-width: 860px) {
  .offset {
    margin-left: 250px; } }

@media screen and (min-width: 1400px) {
  .offset {
    margin-left: 300px; } }

footer {
  font-size: 14px;
  text-align: center;
  color: #e6e6e6;
  background-color: #131313;
  padding: 1em 0 1em; }
  footer ul {
    list-style: none;
    padding: 0;
    width: 275px;
    display: block;
    margin: 0 auto; }
    footer ul li {
      float: left;
      margin-right: 1em; }
  footer h3 {
    font-size: 2em;
    margin-bottom: .25em; }
  footer p {
    margin: 0; }
  @media screen and (min-width: 860px) {
    footer {
      position: relative;
      z-index: 1000; } }

#soc-email {
  background: url("../../images/sprites/soc-sprites.png") no-repeat 0 -2px;
  width: 59px;
  height: 55px; }

#soc-flickr {
  background: url("../../images/sprites/soc-sprites.png") no-repeat -62px -2px;
  width: 59px;
  height: 55px; }

#soc-facebook {
  background: url("../../images/sprites/soc-sprites.png") no-repeat -133px -3px;
  width: 56px;
  height: 53px; }

#soc-500px {
  background: url("../../images/sprites/soc-sprites.png") no-repeat -196px -3px;
  width: 59px;
  height: 55px;
  margin-right: 0; }

/*# sourceMappingURL=main.css.map */