#about-me {
	font-size: 1.2em;

	p {
		margin: 0 0 1em;
	}

	#bio {
		width: 80%;
		margin: 0 auto;
	}

	.col-container {

		@media screen and (min-width: 550px) {
			margin-bottom: 1em;

			#col-1 {
				float: left;
				width: 70%;
				margin-right: 10%;
			}

			#col-2 {
				float: right;
				width: 20%;

				img {
					width: 100%;
				}
			}
		}
	}
}