.banner {
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 1;

	@media screen and (min-width: $mobile-break) {
		width: 100%;
		position: static;
		z-index: 1;
	}

	@media screen and (min-width: 1400px) {

	}

	img {
		transition: all opacity 1s;
		backface-visibility: hidden;
		display: block;
		margin: 1.5em auto;

		@media screen and (min-width: 1800px) {
			max-width: 1800px;
		}
	}

	img.active {
		filter: none; /* IE6-9 */
		-webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
		opacity: 1;
		transition: opacity 1s linear;
		-moz-transition: opacity 1s;
		-webkit-transition: opacity 1s;
		transition: opacity 1s;
	}
}