@font-face {
	font-family: one;
	src: url('../fonts/ostrich-sans-inline-italic.woff');
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

h1 {
	height: 0;
	width: 0;
	margin-left: -9999px;
	visibility: hidden;
}


header h2 {
	visibility: visible;
	text-transform: none;
	color: red;
	font-size: 3em;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 150%;
	text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
}

header #quote-block p {
	color: #984C00 !important;
}

a {
	color: #ccc;

	&:link {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	&:focus {
		outline: none;
	}
}
.banner {

	h2 {
		font-family: 'Megrim', cursive;
		font-weight: normal;
		text-align: center;
		text-transform: lowercase;
		line-height: 1em;
		font-size: 5em;
		padding: 0.5em 0 1em;

		@media screen and (min-width: 400px) {
			font-size: 100px;
		}

		@media screen and (min-width: 500px) {
			font-size: 140px;
		}

		@media screen and (min-width: $mobile-break) {
			font-size: 240px;
		}

		@media screen and (min-width: $wide-break) {
			font-size: 300px;
		}

		@media screen and (min-width: $ultrawide-break) {
			font-size: 300px;
		}
	}
}