{{#images}}
    <div class="section-wrapper">
        <div class="banner">
            <h2>Action</h2>
        </div>
        <ul class="slides clearfix">
        {{#action}}
            <li><img src="images/action/thumb/{{imagePath}}" alt="{{title}} - {{caption}}"></li>
        {{/action}}
        </ul>
    </div>
{{/images}}